[flake8]
max-line-length = 99
ignore = E261, W503
exclude =
    .git,
    .vscode,
    lib,
    ptvsd,
    virtualenv,
    .ropeproject,
    env,
    .env,
    venv,
    py27,
    py353,
    py361,
    .tox,
    tests
