.row
  .span16.blurb
    %h2 Objectives
.row
  .span8
    %ul.objectives
      - purpose.each do |p|
        %li #{p}
  .span8
    %h4 A note from the group founders
    %p.synopsis
      Laurent et moi on se disait depuis un certain temps qu'on devrait partir notre propre user group.  On trouve qu'il y a presentement un momentum au niveau de l'adoption de JavaScript comme langage serieux; le timing est vraiment parfait.
    %h4
      %a(href="mailto:neonskimmer@gmail.com")Bruno Carriere
      &amp;
      %a(href="mailto:mazesoul@gmail.com")Laurent Villeneuve
    %h6 Fondateurs
