/ %h3 #{meetup["title"]}
/ - if meetup["blurb"]
/   %p.blurb #{meetup["blurb"]}
/.month<
/=date.strftime("%B")
- first  = meetup["speakers"].first
- second = meetup["speakers"].last
- date   = Date.parse( meetup["on"] )
.row.meetup
  .span8.columns
    .speaker
      /
        .bigtime<
          .month<
            =date.strftime("%B")
          .date<
            =date.strftime("%d")
      = haml :speaker, :locals => { :s => first }, :layout => false
  .span8.columns
    .speaker
      - if first == second
        %a.btn.info{ :href=> "mailto:contact@js-montreal.org "}
          Looks like there's space for one more presentation!
      - else
        = haml :speaker, :locals => { :s => second }, :layout => false
#members{ :style => 'display: none;' }
  Members:
  %select#sigs
    %option
  %p.credits
/ Here goes the signature plugins
%script{ :src => "src/signatures/signatures.js", :type => "text/javascript" }
%script{ :src => "src/signatures/example.js", :type => "text/javascript" }
%script{ :src => "src/signatures/bruno-c.js", :type => "text/javascript" }