.row
  .span12.blurb
    %h2 Previous meetups
    %p Here's a list of our previous meetings along with links to some of the material that was presented.
- meetups.each do |m|
  = haml :meetup, :locals => { :meetup => m }, :layout => false