.row
  .span16.blurb
    %h2 Want to show us something?
.row
  .span10
    %h4<
      %a(href="mailto:contact@js-montreal.org")Contact us
    %p.synopsis
      Anything related to JavaScript will do. If you want to present a commercial product you benefit from, you are required to buy beer for everyone. That's it!
    %h4 Une note concernant la langue
    %p.synopsis
      Lors de nos rencontres, les orateurs choisiront de pr&eacute;senter en anglais ou en francais, &agrave; leur guise. Normalement si le synopsis est en français, la présentation le sera aussi.
  .span6
    %h4 Keep our objectives in mind:
    %ul
      - purpose.each do |p|
        %li #{p}