html, body {
  background-color: #fafafa;
  padding-top: 40px;
}

#content {
  min-height: 500px;
}

body.index .meetup {
  margin-top: 40px;
}

a.twit {
  background: url("/img/newbird32.png") no-repeat scroll right center #31CCFF;
  border: 0 none;
  color: white;
  font-size: 14px;
  //padding: 6px 34px 5px 10px;
  height: 40px;
  width: 120px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  top: 0;
}

.bigtime {
  position: absolute;
  top: 0;
  left: -80px;
  background-color: #404040;
  width: 80px;
  height: 80px;  
  
  .month, .date {
    position: absolute;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fafafa;
    text-shadow : 1px 1px 3px #303030;
  }
  
  .month {
    top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: yellow;
  }
    
  .date {
    font-size: 58px;
    line-height: 89px;
    text-align: center;
  }
}

p.synopsis {
  text-align: justify;
}

.row > .columns .speaker {

}

.speaker {
  position: relative;
  //padding: 14px;
  h5 {
    margin-top: -16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

header {
  color : #000;
  text-shadow : 1px 1px 1px white;
}

footer {

}

h1 {
  font-size: 58px;
}

h2 {
  font-weight : normal;
  margin : 0px 0px 0.5em 0px;
}