@import "/css/bootstrap/lib/bootstrap.less";

html {
  background-color: #dadada;
}

body {
  background-color: #fafafa;

  /* Account for top bar */
  padding-top: 20px;
}

#content {
  background-color: #fafafa;
  min-height: 500px;
}

.when {
  font-size: 16px;
  color: #777;
  font-weight: bold;
  margin-bottom: 16px;
}


header {

  #gradient > .vertical(#DADADA, #FAFAFA);

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #DADADA;
  color : #333;

  h1 {
    color: @grayDark;
    text-shadow : 0px 1px 0.5px @grayLighter;
    text-transform: uppercase;
    font-size: 24px;
  }
}

.register {
  background-color: #eaeaea;
  border: solid 1px #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  margin-top: -23px;
  position: relative;
  #gradient > .vertical(#EAEAEA, #FAFAFA);
}

p.synopsis, p.attention {
  // font-size: 120%;
  line-height: 160%;
}

.blurb {
  h2 {
    color: @blue;
    font-size: 48px;
  }
  p {
    font-size: 120%;
    line-height: 160%;
    margin-bottom: 3em;
    border-left: 10px solid @grayLighter;
    padding-left: 10px;
  }
}

.speaker {
  position: relative;
  padding: 0px 14px 14px 0px;
  h5 {
    margin-top: -16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
  }
}


footer {
  #gradient > .vertical(#FAFAFA, #DADADA);
}

h1 {
  font-size: 58px;
}

h2 {
  font-weight : normal;
  margin : 0px 0px 0.5em 0px;
}