<html>
<head>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>
    <link rel="stylesheet" href="/static/main.css">
    {% for sheet in stylesheets if stylesheets %}
        <link rel="stylesheet" href="/static/{{ sheet }}">
    {% endfor %}
    {% if inline_js %}
        <script type='text/babel'>
            {{ inline_js|safe }}
        </script>
    {% endif %}
</head>
<body>
    <header>
        <h2 class="title">Process Agent Monitor</h2>
        <h4 class="jid">{{ id }}</h4>
        <h4 class="username">User: {{ user }}</h4>
    </header>

    <div class="container">
        <div class="data"></div>
    </div>

    <script type='text/babel' src='/static/{{ js_entrypoint }}' data-presets='es2017,react'></script>
</body>
</html>